name: test

on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: clone
        uses: actions/checkout@v6
      - name: install go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true
          check-latest: true

      - name: install
        run: |
          go get github.com/mattn/goveralls

      - name: test
        run: |
          go test -race -covermode=atomic -coverprofile=coverage.out ./...

      - name: coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage.out